@model Authorization

@{
    ViewData["Title"] = "Авторизация";
}

<div class="row justify-content-center">
    <div class="col-5 text-center">
        <form method="post">
            <div class="mb-3">
                <h2>Вход</h2>
            </div>
            <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
            @if (Model != null)
            {
                <input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl">
            }            
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-mail" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-4 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="rememberme" value="true">
                <label class="form-check-label" for="exampleCheck1">Запомнить меня</label>
            </div>            
            <div class="mb-2">
                <button type="submit" class="btn btn-outline-danger w-50" asp-controller="Account" asp-action="Login">Войти</button>
            </div>
            <div class="mb-3">
                @if (Model != null)
                {
                    <a class="text" asp-controller="Account" asp-action="SignUp" asp-route-returnUrl="@Model.ReturnUrl">Регистрация</a>
                }
                else
                {
                    <a class="text" asp-controller="Account" asp-action="SignUp">Регистрация</a>
                }                
            </div>
        </form>
    </div>
</div>

