<div class="list-group">
	<a asp-action="Index" class="list-group-item list-group-item-action">Данные пользователя</a>
	<a asp-action="Edit" class="list-group-item list-group-item-action">Изменить данные</a>
	<a asp-action="ChangePassword" class="list-group-item list-group-item-action">Изменить пароль</a>
	<a asp-area="" asp-controller="Cart" asp-action="Index" class="list-group-item list-group-item-action">Корзина</a>
	<a asp-action="Orders" class="list-group-item list-group-item-action">Заказы</a>
</div>